body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: gray;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-steps {
  position: absolute;
  right: 15%;
}

.controlsize {
  position: absolute;
  left: 10%;
}

.board {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.game_title {
  text-align: center;
  color: brown;
  font-size: 40px;
  font-weight: 900;
  font-family: serif;
  margin-top: 0.5em;
  text-shadow: black 3px 2px 4px;
}

.player_info {
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 0.5em 0;
}

.next_player, .winner_player {
  color: rgba(165, 42, 42, 0.8);
  position: relative;
  padding: 5px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.winner_player {
  margin: 0 auto;
  width: 30vw;
  color: brown;
  border: 2px dashed brown;
  border-radius: 5px;
  padding: 5px 0;
}

.next_player p {
  line-height: 40px;
}

.stone {
  border-radius: 50%;
  z-index: 10;
  box-sizing: border-box;
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

.stone.black {
  background-color: black;
  box-shadow:  2px 2px 6px 3px rgba(255, 255, 255, 0.3) inset;
}

.stone.white {
  background-color: white;
  box-shadow:  -3px -3px 3px 1px rgba(165, 42, 42, 0.5) inset; 
}
